# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

.ycm_extra_conf.py
.ycm_extra_conf.pyc
.clang_complete
project.el

/example/glfonttest
/example/.ninja_deps
/example/.ninja_log

/bin/.ninja_log
/bin/.ninja_deps
/bin/FontTest

obj/

*.gif
*.png
*.ttc
*.ttf

/__pycache__/
/compile_commands.json
/.ninja_deps
/.ninja_log
